<h1>Admin section</h1>
<form action="/admin" method="post">
<input type="text" name="title"/> <br />
<textarea name="content" rows="10" cols="30"></textarea> <br />
<input type="submit" value="Submit" />
</form>
<a href="/">Main</a>
