<h1>Admin section</h1>
<form action="/admin/newPost" method="post">
  <input type="text" name="postTitle"/> <br />
  <textarea name="content" rows="10" cols="30"></textarea> <br />
  <input type="submit" value="Post" />
</form>
<a href="/admin">Admin</a>
<a href="/">Main</a>
