<h1>Admin section</h1>
<form action="/admin/settings" method="post">
  <input type="text" name="blogTitle" value="<%= title %>"/> <br />
  <input type="submit" value="Save" />
</form>
<a href="/admin">Admin</a>
<a href="/">Main</a>
