#container {
  width: 900px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: gray;
}
#header {
  text-align: left;
  font-size: 1.5em;
  color: white;
  background-color: blue;
  margin-top: 5px;
}
#content {
  float: right;
  width: 690px;
  min-height: 500px;
  background-color: white;
  padding: 5px;
}
#sidebar {
  float: left;
  width: 200px;
  border-radius: 5px;
  margin-top: 5px;
}
#footer {
  clear: both;
  text-align: center;
  margin-top: 5px;
  background-color: lightgray;
}
#content img {
  height: 200px;
  width: 200px;
}
